@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YourFont';
  src: url('/DominantYouth-mLzax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Public+Sans:wght@400;500&family=Racing+Sans+One&display=swap');